/* opacity and rgba() are new in CSS3 */

@import "reset.css";

/* Set div Dimensions */
div { position : absolute; height: 100px; width: 100px ; font : bold 1.5em cursive; color : #fff}

/* Set position, color, and opacity */
div#bg1 { top : 20px; left : 20px ; background : rgb(255,255,0); z-index : 1 }  

div#fg1 { top : 50px; left : 50px ; background : rgb(0,0,255); opacity : 0.5; z-index : 2 } 

div#bg2 { top : 20px; left : 170px ; background : rgb(255,255,0); z-index : 1 }  

div#fg2 { top : 50px; left : 200px ; background : rgba(0,0,255,0.5);  z-index : 2 } 